@eig-builder:registry=https://builder.jfrog.io/builder/api/npm/eig-builder-frontend/
//builder.jfrog.io/builder/api/npm/eig-builder-frontend/:_password=QVA1b2FkUkJ1OG90cUZqbWJNRkpvYm1CMmFmVkNDTlU4a0VKUW0=
//builder.jfrog.io/builder/api/npm/eig-builder-frontend/:username=builder
//builder.jfrog.io/builder/api/npm/eig-builder-frontend/:email=builderintegrations+artifactorydeploy@endurance.com
//builder.jfrog.io/builder/api/npm/eig-builder-frontend/:always-auth=true
