@eig-builder:registry=https://builder.jfrog.io/builder/api/npm/eig-builder-frontend/
//builder.jfrog.io/builder/api/npm/eig-builder-frontend/:_password=QVA0QUR1YjRHTks4c1p5SFdjdmV2SHlVRUNMTGpjdmZ6bXZObVM=
//builder.jfrog.io/builder/api/npm/eig-builder-frontend/:username=builder
//builder.jfrog.io/builder/api/npm/eig-builder-frontend/:email=builderintegrations+artifactorydeploy@endurance.com
//builder.jfrog.io/builder/api/npm/eig-builder-frontend/:always-auth=true
