.amreset
{
  position: absolute;
  overflow: visible;
  line-height: normal;
  border: none;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  svg {
    overflow: visible;

    // g {
    //     outline: 1px dashed rgba(0, 0, 120, 0.3);
    // }
  }

}

.svg-hover-area {
  transition: all 150ms;
  cursor: pointer;
  z-index: 2;
  // background: rgba(0,188,212,0.0);
  outline: 3px solid rgba(0,188,212,0.0);
  &:hover {
    // background: rgba(0,188,212,0.2);      
    outline: 3px solid rgba(0,130,237,1); // same as theme.palette.palette.main
  }
}

